#!/usr/bin/env bash
#
# Set as a pre-commit hook in the repo (copy to .git/hooks/pre-commit) to run
# php-cs-fixer on commit.

# If set to false the commit will prevent the commit instead of fixing the code.
FIX_CODE=true

PHP_CS_FIXER_BIN="vendor/bin/php-cs-fixer"
PHP_CS_FIXER_SWITCHES=("--config=.php_cs")

if ! $FIX_CODE; then
    PHP_CS_FIXER_SWITCHES+=("--diff" "--dry-run")
fi

if [ ! -x "$PHP_CS_FIXER_BIN" ]; then
    echo ""
    echo "$PHP_CS_FIXER_BIN not found, run 'composer install'"
    exit 1
fi

FILES=$(git status --porcelain | grep -e '^[AM]\(.*\).php$' | cut -c 3- | tr '\n' ' ')
if [ -n "$FILES" ]; then
    if ! $PHP_CS_FIXER_BIN fix "${PHP_CS_FIXER_SWITCHES[@]}" "${FILES}"; then
        echo ""
        echo "Code style check failed, fix with 'composer fix-style'" >&2
        exit 1
    fi

    git add "${FILES}"
fi

exit 0
